h1{
    color: black;
    height: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
p1{
    height: 1px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}